extends layout

block content
	div#container
		div#g
			h1 G-Project
			div.holder
				div
					i.fa.fa-twitter
					p 1,000
				div
					i.fa.fa-instagram
					p 1,000
				div
					i.fa.fa-pinterest
					p 1,000
				div
					i.fa.fa-facebook
					p 1,000

		div#sfq
			h1 Soundfreaq
			div.holder
				div
					i.fa.fa-twitter
					p 1,000
				div
					i.fa.fa-instagram
					p 1,000
				div
					i.fa.fa-pinterest
					p 1,000
				div
					i.fa.fa-facebook
					p 1,000
