doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/global.css')
	body
		block content



	script(src='/javascripts/vendor.min.js')
	script(src='/javascripts/script.min.js')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	link(rel='stylesheet' type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Montserrat:400,700')
